*{
  margin:0;
    padding: 0;
     
    box-sizing: border-box;
}
.loader{
 position:fixed;
z-index:99;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:white;
	display:flex;
	justify-content:center;
	align-items:center;
}
.load > img {
	width:100px;
}
.loader.hidden{
	animation: fadeOut 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeOut {
	
	100%{
		opacity:0;
		visibility:hidden;
	}
	
}

@media (min-width: 1800px) {
.Google_play{
    position:absolute;
    right: 0%;
      top:89%;
    
}

.Google_play img {
   width: 27vh;
    height: 10vh;
    
}
    
.Google_play img:hover {
   width: 29vh;
    height: 11vh;
    
}

  .AboutWeliel2{
        background-position: top;
          width:100%;
            height:100%;
            background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../image/Weliel_Games_Google_play.webp);
background-size:cover; 
   
    }

}
    @media (min-width:1800px) {
    .box2{
        position:fixed;
   
 top:110%;
  right:0%;  
    
       border: 4px solid ; 
        border-color: beige;
    background-color: beige;
    width:50%;
    height:90%;    
    }

}
@media (min-width: 1800px) {
.box{
    position:absolute;
   
 top:0%;
  right:0%;  
    
      width:100%;
    height:11.5%;
    border-style: solid;
    border-color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.5);
    

    }

#WelecomePageVideo{
    
      position:inherit;
  right:0;
  bottom:0;
  
 min-width:100%; 
  min-height:100%;
  
}
    section{
        position:inherit;
        width:100%;
        height:100vh;
    }
    
 section  .ImageForVideo{
        
     position:absolute;
     bottom:40px;
     left:50%;
     transform:translateX(-50%);
     z-index:100;
     display:flex;
     justify-content: center;
     align-items: center;
     
     
    }  
    
    
    
    section  .ImageForVideo li{
        
       list-style: none;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 4px;
        background: #fff;
        padding: 3px 3px 0;
        opacity:0.7;
        
    }
    section  .ImageForVideo li:hover{
         opacity:1;
    }
    section  .ImageForVideo li img{
        
        
        width:30vh;
        transition:0.5s;
    }
    section  .ImageForVideo li img:hover{
        width:40vh; 
    }
    .W404{
        top:20%;
        left:25%;
      position: absolute;
      
    }
   
    .W404 h1{
        font-family: 'Mochiy Pop One', sans-serif;
        color:yellowgreen;
   font-size: 40vh;
    }
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
#logoWeliel {
  width: 10vh;
    height: 10vh;
position:absolute;
 
    top:0%;
  
   
}
#logoWeliel:hover {
  width: 11vh;
    height: 11vh;
position:absolute;
 
    top:0%;
  
   
}

.home_navigatorWGames{
    position:absolute;
  top:0%;
    right:25%;
}
.home_navigatorWGames li{
    display: inline-block;
}

.home_navigatorWGames li a{
   text-decoration: none;
font-size:20vh;
   color:black;

}
.home_navigatorWGames li a img{
    width:20vh;
    height:10vh;
}
    .home_navigatorWGames li a img:hover{
    width:22vh;
    height:12vh;
}
    .home_navigatorWOld{
      position:absolute;
    right:10%;
      top:1.5%;   
    }
    .home_navigatorWOld a{
        font-family: 'Berkshire Swash', cursive;
      text-decoration: none;
font-size:5vh;
   color:white;  
    }
    .home_navigatorWOld a:hover{
     font-size:6vh;   
    }
    .home_navigatorWOld li{
      display: inline-block;
}
.home_navigatorWContact{
       position:absolute;
    right:5%;
      top:1.5%;
}
.home_navigatorWContact li{
      display: inline-block;
}
.home_navigatorWContact li a{
    font-family: 'Berkshire Swash', cursive;
   text-decoration: none;
font-size:5vh;
   color:white;

}
    .home_navigatorWContact li a:hover{
        font-size:6vh;
    }


.clock{
	position:absolute;
    top:5%;
    left:50%;
    transform: translate(-50%,-50%);	
}
.clock h1{
	font-size:5vh; 
	color:white;
}



.flipImage{

position:absolute;
    top:162.5%;
    left:15%;
    transform: translate(-50%,-50%);

  	   


}  
.flipImage1{
 position:absolute;
    top:162.5%;
    left:84%;
    transform: translate(-50%,-50%);

  	   
  

}  

.image{
     position:relative;      
    width:60vh;
    
}

.image2{
position:relative; 
    width:60vh;
  
    
     
}
.image3{
position:relative; 
    width:60vh;
  
    
     
}



.image__img{
    display:block;
    width:100%;
}
.image__overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.6);
     display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
    opacity:0;
    transition:opacity 0.25s;
}
    .image__overlay a{
        color:white;
    }   
.image__overlay--blur{
 backdrop-filter: blur(6px);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}




.image__overlay:hover{
  opacity:1;  
}
.image__overlay:hover > * {
    transform: translateY(0px)  
}


.image_title{
     
    font-size:3vh;
    font-weight:bold;
}
.image_title2{
   
    font-size:3vh;
    font-weight:bold;
}
.image__description {
    
    font-size:2vh;
    margin-top: 0.30m;
}
    .image__description a{
        
          font-size:2vh;
    }

 
    
    
    
.GetItNow{
    position: absolute;
top: 162.5%;
left: 50%;
transform: translate(-50%,-50%);
    
}
.GetItNow a {
    font-family: 'Rampart One', cursive;
    text-decoration: none;
    color:white;
    font-size:8vh;
    text-shadow: 3px 3px 3px red, 0 0 0.1em gray, 0 0 0.1em black;

    
}
   
   .GetItNow a:hover {
       font-family: 'Rampart One', cursive;
    text-decoration: none;
    color:white;
    font-size:10vh;
    text-shadow: 3px 3px 3px gray, 0 0 0.1em gray, 0 0 0.1em black;

    
} 
    
    

    
    .AboutWeliel{
      background-position: top;
          width:100%;
            height:100vh;
            background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../image/Latvia_Riga.webp);
background-size: cover;
background-position: center;
    }
    
    
    

    .AboutWeliel iframe{
         
    }   
    
    


    .AboutWeliel h1{
       
font-family: 'Hammersmith One', sans-serif;
transform: translate(-50%,-50%);
         text-align:center;
        color:white;
        font-size:10vh;
    }   
    
    .AboutWeliel h3{
       
font-family: 'Hammersmith One', sans-serif;
transform: translate(-50%,-50%);
         color:white;
        font-size:3vh;  
        text-align:center;
    }
    
    .AboutTxt{
         position: absolute;
top:215%;
       left:30%;
   border: 4px solid rgba(0, 0, 0, 0.0);
       
    width:50%;
    height:90%;
        
    }
   .Img_AboutWeliel {
        position: absolute;
top:250%;
left:80%;
transform: translate(-50%,-50%); 

    } 
    .Img_AboutWeliel img{
           max-width:100%;
    display: block;
    }  
    .CreatorName {
        position: absolute;
top:289%;
left:85%;
transform: translate(-50%,-50%); 
    }
    
    .CreatorName h1{
        font-family: 'Dancing Script', cursive;
        color:white;
        font-size:5vh;
      
    }
   
    
    
    
    #mapGoogle{
     position:absolute;
       top:270%;
left:30%;
transform: translate(-50%,-50%); 
        width:80vh;
        height:50vh
              
    }
    
    
    
    .Contact{
    background-position: top;
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/Fridusgame2.webp);
height:100vh;
background-size:cover;
background-position: center;


    
}
   
    .imageSlider{
        text-align: center;
        
    }  
    .imageSlider img{
        width:65vh;
        height:35vh;
    }
    .buttonNextPrev{
        text-align: center;
    }
    
    
    
}











.field {
  margin-bottom: 10vh;
  
}

.field label {
  display: block;
  font-size: 12vh;
  color: #777;
}

.field input {
  display: block;
  min-width:250px;
  line-height:1.5;
  font-size:14vh;
 
}

input[type="submit"] {
    color: white;
  padding: 1.5vh 3vh;
  margin: 2vh auto 0;
  display: block;
  padding: 4vh 6vh;
  font-size: 2vh;
  background-color: #4460AA;
  
  border: #4460AA;

 
  
  
  

}

.wrapper {
  width: 100%;
  padding-right: 15vh;
  padding-left: 15vh;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576vh) {
  .wrapper {
    max-width: 540vh;
  }
}

@media (min-width: 768vh) {
  .wrapper {
    max-width: 720vh;
  }
}

@media (min-width: 992vh) {
  .wrapper {
    max-width: 960vh;
  }
}

@media (min-width: 1800vh) {
  .wrapper {
    max-width: 1140vh;
  }
}



@media screen and (max-width:767px) {
  .section-gap {
    padding: 3.5rem 0;
  }
}

@media screen and (max-width:480px) {
  .section-gap {
    padding: 3rem 0;
  }
}



@media screen and (max-width:767px) {
  h3.global-title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width:600px) {
  h3.global-title {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width:500px) {
  h3.global-title {
    font-size: 30px;
    line-height: 35px;
  }
}









.contact-form {
  background: #f8f9fa;
}

.field {
  margin-bottom: 20px;
  background: white;
}

.form-mid {
 
  padding: 3rem;
  border: 1px solid white;
  border-radius: 4px;
}

.form-mid form input,
.form-mid form textarea {
  background: white;
  border: 2px solid rgba(216, 216, 216, 0.3);
  color: #777;
  font-size: 16px;
  padding: 12px 15px;
  width: 100%;
  border-radius: 4px;
  height: 55px;
}

.form-mid form textarea {
  resize: none;
  min-height: 140px;
}

.form-mid form input:focus,
.form-mid form textarea:focus {
  outline: none;
  border: 2px solid #051b35;
  background: white;
  box-shadow: none;
}
  


 
  
  
  


@media ( min-width: 360px) {
input[type="submit"]:hover {

  
   font-size: 2vh;

}
}






/* / title-styling */
/* simple contact form */


@media ( min-width:1800px) {
    
    
    
    .contact-form {
  background: #f8f9fa;
}

.field {
  margin-bottom: 20px;
  background: white;
}

.form-mid {
 
  padding: 3rem;
  border: 1px solid white;
  border-radius: 4px;
}

.form-mid form input,
.form-mid form textarea {
  background: white;
  border: 2px solid rgba(216, 216, 216, 0.3);
  color: #777;
  font-size: 16px;
  padding: 12px 15px;
  width: 100%;
  border-radius: 4px;
  height: 55px;
}

.form-mid form textarea {
  resize: none;
  min-height:140px;
}

.form-mid form input:focus,
.form-mid form textarea:focus {
  outline: none;
  border: 2px solid #051b35;
  background: white;
  box-shadow: none;
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .footer a{
       position: relative;
        
    }
    .TextFooter{
      position: absolute;
  top: 388%;
  left:40%; 
    }
    .TextFooter h1{
        color:white;
        text-shadow: 1px 1px 1px;
    }
    .Soc{
        position: absolute;
  top:385.5%;
  right:0;
        
    }
    .Soc a{
       padding:20px;
        
    }
    .Soc a img:hover{
        width:12vh;
        height:12vh;
    }
   
     .Soc a img{
        width:10vh;
        height:10vh;
    }
    #footerWelielGames{
     
  width:15vh;
height:10vh;
    }
    #footerWelielGames:hover{
        width:18vh;
height:12vh; 
    }
    
    .topnav{
        display: none;
    }
    
}




@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 480px) 
{
   section  .ImageForVideo li img{
        
     
           max-width:100%;

        display: block;
        transition:0.5s;
    }  
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .slideshow-container{
        display: none;
    }
    .Google_play{
     display: none;
   
    
}
    .clock{
        display: none;
    }
    
   .W404{
     top:0%;
       left:30%;
      position: absolute;
      
    }
   
    .W404 h1{
        font-family: 'Mochiy Pop One', sans-serif;
        color:yellowgreen;
   font-size:10vh;
    }
    
     #WelecomePageVideo{
      
          display:none;
    }
    section  .ImageForVideo{
        display:none;
    }
    
   
    
    
    
    
    .mobileBox{
          display: none; 
    }
    

.topnav {
    position: absolute;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding:1vh 2vh;
  text-decoration: none;
  font-size:5vh;
  display: block;
    
}

.topnav a.icon {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  right:0;
  top:0;
}
    .topnav a img{
       
        max-width:15vh;
        height: auto;
    }
    #WGames{
        max-width:100%;
        height: auto;
       
    }
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
    .Oldtopnav{
        text-align: center;
    }
    .Oldtopnav a{
        font-family: 'Berkshire Swash', cursive;
        color:white;
        font-size:15vh;
    }
    .Mailtopnav{
       text-align: center; 
       
    }
    
    .Mailtopnav a {
        font-family: 'Berkshire Swash', cursive;
        color:white;
        font-size:15vh;
    }
    
    
    
.active {
  background-image: url(../image/Weliel_Games_Google_play.webp);
    background-size:cover;
background-position: center;

  color: white;
}
    
    
    
    
    .info{
        background-image: url(../image/Weliel_Games_Google_play.webp);
 background-size: cover;
        background-position:center;
    }  
    .flipImage1{
        text-align: center;
    }
    .flipImage{
        text-align: center;
    }
    
    .image__img {
         max-width:40%;

    }
     
    .MobilefliImage::after{
       content: "";
  clear: both;
  display: table;  
    }
    .image_title{
        text-align: center;
          padding:2vh;
        color:Black;
        font-size:10vh;
        text-shadow: 2px 2px 1px;
    }
    .image_title2{
        text-align: center;
          padding:2vh;
        color:Black;
        font-size:10vh;
        text-shadow: 2px 2px 1px;
    }
    
    .block__image__description1{
       
       padding: 3vh;
        border:2px solid;
          border-color: rgba(245	245	220/ 10%);
    background-color: rgba(245	245	220/ 80%);
   
    }
    .block__image__description2{
          padding: 3vh;
        border:2px solid;
        border-color:rgba(0	222	255/ 10%);
        background-color:rgba(0	222	255/ 80%);
        
    }
    
    .flipImage a {
      font-family: 'Amatic SC', cursive;
        color:black;
      font-size:6vh;
    }
    
    
    .flipImage1 a {
        font-family: 'Amatic SC', cursive;
        color:black;
     font-size:6vh;
    }
    
    .GetItNow{
         text-align: center;
        border: 4px solid;
        border-color: black;
        background-color: black; 
    }
    .GetItNow a{
      font-family: 'Rampart One', cursive;
    font-size:5vh;
        padding: 2vh;
        text-decoration: none;
        color:white;
        font-weight: bold;
    }
   
    .AboutWeliel{
     background-image: url(../image/Latvia_Riga.webp);
        background-size: cover;
        background-position:center; 
        
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .AboutTxt{
        font-family: 'Hammersmith One', sans-serif;
        text-align: center;
        
    }
    
    .AboutTxt h1{
        font-family: 'Hammersmith One', sans-serif;
        color:white;
        font-size:8vh;
          font-weight:bold;
        
    }
    .AboutTxt h3{
        font-family: 'Hammersmith One', sans-serif;
        color:black;
        font-size:4vh;
    }
    
    
     #CreatorArsenijs{
        text-align:center;
    }
  

    #CreatorArsenijs img{
     
         width:60%;
 
    }
    .CreatorName h1{
        font-family: 'Dancing Script', cursive;
        color:white;
    }
    
    .MapAndProfile{
       text-align: center;
        
    }
    
    .iframeMap{
        text-align: center;
    }
    .iframeMap iframe{
       display: none;
    }
    
    
    .Contact{
    background-position: top;
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/Fridusgame2.webp);
height:150vh;
background-size:cover;
background-position: center;


    
}
    
    
    
    
    
    
    .contact-form {
  background: #f8f9fa;
}

.field {
  margin-bottom: 0.5vh;
  background: white;
}

.form-mid {
 
  padding: 0.2rem;
  border: 0.1vh solid white;
  border-radius: 0.1vh;
}

.form-mid form input,
.form-mid form textarea {
  background: white;
  border: 0.1vh solid rgba(216, 216, 216, 0.3);
  color: #777;
  font-size: 3vh;
  padding: 1vh 1vh;
  min-width:30%;
  border-radius:1vh;
  min-height:auto;
   
}
       
   

.form-mid form textarea {
  
    resize: none;
  min-height:30vh;
   
   
}
.form-mid form input:focus,
.form-mid form textarea:focus {
  outline: none;
  border: 0.1vh solid #051b35;
  background: white;
  box-shadow: none;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .footer{
        border: 2px solid;
        border-color: rgba(104,104,104 , 0.5);
        background-color: rgba(104,104,104, 0.5);
    }
    
    .Soc2{
        
     text-align:right;
    }
    .Soc2 img{
          max-width:10vh;
       height: auto;
         
        
        
    }
    #footerWelielGames{
       max-width:15vh;
        height: auto;
    }
    
    .TextFooter{
        text-align: center;
        padding:2vh;
    }
    .TextFooter h1{
        font-size:3vh;
        color:Black;
    }   
    
}
@media (min-width: 100px) and (max-width: 1199px) {
    
    
    .slideshow-container{
        display: none;
    }
    .Google_play{
     display: none;
   
    
}
    .clock{
        display: none;
    }
    
   .W404{
     top:0%;
       left:30%;
      position: absolute;
      
    }
   
    .W404 h1{
        font-family: 'Mochiy Pop One', sans-serif;
        color:yellowgreen;
   font-size:10vh;
    }
    
     #WelecomePageVideo{
      
          display:none;
    }
    section  .ImageForVideo{
        display:none;
    }
    
   
    
    
    
    
    .mobileBox{
          display: none; 
    }
    

.topnav {
    position: absolute;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 1vh 2vh;
  text-decoration: none;
  font-size:5vh;
  display: block;
    
}

.topnav a.icon {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  right:0;
  top:0;
}
    .topnav a img{
       
        max-width:15vh;
        height:auto;
    }
    #WGames{
        max-width:100%;
        height:auto;
       
    }
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
    .Oldtopnav{
        text-align: center;
    }
    .Oldtopnav a{
        font-family: 'Berkshire Swash', cursive;
        color:white;
        font-size:15vh;
    }
    .Mailtopnav{
       text-align: center; 
       
    }
    
    .Mailtopnav a {
        font-family: 'Berkshire Swash', cursive;
        color:white;
        font-size:15vh;
    }
    
    
    
.active {
  background-image: url(../image/Weliel_Games_Google_play.webp);
    background-size:cover;
background-position: center;

  color: white;
}
    
    
    
    
    .info{
        background-image: url(../image/Weliel_Games_Google_play.webp);
 background-size: cover;
        background-position:center;
    }  
    
    
    
    .image__img{
         max-width:100%;
  display: block;
    }
     
    .MobilefliImage::after{
       content: "";
  clear: both;
  display: table;  
    }
    .image_title{
        text-align: center;
          padding:2vh;
        color:Black;
        font-size:10vh;
        text-shadow: 2px 2px 1px;
    }
    .image_title2{
        text-align: center;
          padding:2vh;
        color:Black;
        font-size:10vh;
        text-shadow: 2px 2px 1px;
    }
    
    .block__image__description1{
       
       padding:3vh;
        border:2px solid;
          border-color: rgba(245	245	220/ 10%);
    background-color: rgba(245	245	220/ 80%);
   
    }
    .block__image__description2{
          padding: 3vh;
        border:2px solid;
        border-color:rgba(0	222	255/ 10%);
        background-color:rgba(0	222	255/ 80%);
        
    }
    
    .flipImage a {
      font-family: 'Amatic SC', cursive;
        color:black;
      font-size:6vh;
    }
    
    
    .flipImage1 a {
        font-family: 'Amatic SC', cursive;
        color:black;
     font-size:6vh;
    }
    
    .GetItNow{
         text-align: center;
        border: 4px solid;
        border-color: black;
        background-color: black; 
    }
    .GetItNow a{
      font-family: 'Rampart One', cursive;
    font-size:5vh;
        padding: 2vh;
        text-decoration: none;
        color:white;
        font-weight: bold;
    }
   
    .AboutWeliel{
     background-image: url(../image/Latvia_Riga.webp);
        background-size: cover;
        background-position:center; 
        
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .AboutTxt{
        font-family: 'Hammersmith One', sans-serif;
        text-align:center;
        
    }
    
    .AboutTxt h1{
        font-family: 'Hammersmith One', sans-serif;
        color:white;
        font-size:8vh;
          font-weight:bold;
        
    }
    .AboutTxt h3{
        font-family: 'Hammersmith One', sans-serif;
        color:black;
        font-size:4vh;
    }
    
    
   
  

    #CreatorArsenijs{
     
    max-width:60%;
 
    }
    .CreatorName h1{
        font-family: 'Dancing Script', cursive;
        color:white;
    }
    
    .MapAndProfile{
       text-align: center;
        
    }
    
    .iframeMap{
        text-align: center;
    }
    .iframeMap iframe{
       display: none;
    }
    
    
    .Contact{
    background-position: top;
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/Fridusgame2.webp);
height:150vh;
background-size:cover;
background-position: center;


    
}
    
    
    
    
    
    
    .contact-form {
  background: #f8f9fa;
}

.field {
  margin-bottom: 0.5vh;
  background: white;
}

.form-mid {
 
  padding: 0.2rem;
  border: 0.1vh solid white;
  border-radius: 0.1vh;
}

.form-mid form input,
.form-mid form textarea {
  background: white;
  border: 0.1vh solid rgba(216, 216, 216, 0.3);
  color: #777;
  font-size: 3vh;
  padding: 1vh 1vh;
  min-width:30%;
  border-radius:1vh;
  min-height:auto;
   
}
       
   

.form-mid form textarea {
  
    resize: none;
  min-height:30vh;
   
   
}
.form-mid form input:focus,
.form-mid form textarea:focus {
  outline: none;
  border: 0.1vh solid #051b35;
  background: white;
  box-shadow: none;
}
    
    
    
    
    
    
    #footerWelielGames{
     width:144px;
    height:81px;  
    }
    
    
    
    
    
    
    
    
    
    
    
    .footer{
        border: 2px solid;
        border-color: rgba(104,104,104 , 0.5);
        background-color: rgba(104,104,104, 0.5);
    }
    
    
   
    
    .TextFooter{
        text-align: center;
        padding:2vh;
    }
    .TextFooter h1{
        font-size:3vh;
        color:Black;
    }
    
    
    
}

























