* {
  box-sizing: border-box;
}

.loader{
 position:fixed;
z-index: 99;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:white;
	display:flex;
	justify-content:center;
	align-items:center;
}
.load > img {
	width:100vh;
}
.loader.hidden{
	animation: fadeOut 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeOut {
	
	100%{
		opacity:0;
		visibility:hidden;
	}
	
}


body{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/back.jpg);
  background-size: cover;
    background-position: cover;

}
.field {
  margin-bottom: 10vh;
  
}

.field label {
  display: block;
  font-size: 12vh;
  color: #777;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14vh;
 
}

input[type="submit"] {
    color: white;
  padding: 1.5vh 3vh;
  margin: 2vh auto 0;
  display: block;
  padding: 4vh 6vh;
  font-size: 2vh;
  background-color: #4460AA;
  
  border: #4460AA;

 
  
  
  

}

.wrapper {
  width: 100%;
  padding-right: 15vh;
  padding-left: 15vh;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576vh) {
  .wrapper {
    max-width: 540vh;
  }
}

@media (min-width: 768vh) {
  .wrapper {
    max-width: 720vh;
  }
}

@media (min-width: 992vh) {
  .wrapper {
    max-width: 960vh;
  }
}

@media (min-width: 1200vh) {
  .wrapper {
    max-width: 1140vh;
  }
}



@media screen and (max-width:767px) {
  .section-gap {
    padding: 3.5rem 0;
  }
}

@media screen and (max-width:480px) {
  .section-gap {
    padding: 3rem 0;
  }
}



@media screen and (max-width:767px) {
  h3.global-title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width:600px) {
  h3.global-title {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width:500px) {
  h3.global-title {
    font-size: 30px;
    line-height: 35px;
  }
}

/* / title-styling */
/* simple contact form */
.contact-form {
  background: #f8f9fa;
}

.field {
  margin-bottom: 20px;
  background: white;
}

.form-mid {
 
  padding: 3rem;
  border: 1px solid white;
  border-radius: 4px;
}

.form-mid form input,
.form-mid form textarea {
  background: white;
  border: 2px solid rgba(216, 216, 216, 0.3);
  color: #777;
  font-size: 16px;
  padding: 12px 15px;
  width: 100%;
  border-radius: 4px;
  height: 55px;
}

.form-mid form textarea {
  resize: none;
  min-height: 140px;
}

.form-mid form input:focus,
.form-mid form textarea:focus {
  outline: none;
  border: 2px solid #051b35;
  background: white;
  box-shadow: none;
}
.nav{
    flex:60;
    text-align: center;
	
}
nav ul li{
   
   display:inline-block;
    list-style: none;
    margin:10px;
       transition: 5s ease;
    
}
nav ul li a{
   text-decoration: none; 
    color:whitesmoke;
  
}