
.Weliel_Games{
  background-image:url(../image/background-about.jpg);
height:100vh;
    background-size:cover;
    background-position:center;
}





@media (min-width: 1000px) {

.AboutWelielGames{
	position:absolute;
   top:107%;
	right:80%;
	
    transform: translate(50%,50%);  
	
}
.AboutWelielGames h1{
	
color:white;
	font-size:25px;	
}
} 


@media (min-width: 320px) and (max-width: 999px) {

 
.AboutWelielGames{
	position:absolute;
   top:110%;
	right:80%;
	
    transform: translate(50%,50%);  
	
}
.AboutWelielGames h1{
	
color:white;
	font-size:18px;	
}

}


 
	

	


@media (min-width: 1000px) {

  .WG {
position:absolute;
   top:120%;
	right:50%;
	
    transform: translate(50%,50%); 
}
 
	
	.WG h2{
font-family: 'Monoton', cursive;
	color:white;
	font-size:40px;
	

	}
} 


@media (min-width: 320px) and (max-width: 999px) {

 
	.WG {
position:absolute;
   top:125%;
	right:50%;
	
    transform: translate(50%,50%); 
}

	.WG h2{
font-family: 'Monoton', cursive;
	color:white;
	
	
		font-size:20px;
		
	}

}









@media (min-width: 1000px) {

video{
	
	position:absolute;
   top:115%;
	right:50%;
	
    transform: translate(50%,50%);
	
	width: 40%;
  height: auto;
}

} 


@media (min-width: 320px) and (max-width: 999px) {

 video{
	
	position:absolute;
   top:125%;
	right:50%;
	
    transform: translate(50%,50%);
	
	width: 40%;
  height: auto;
}


}
















   





@media (min-width: 1000px) {

.button1{
position:absolute;
   top:190%;
	right:50%;
	
    transform: translate(50%,50%); 
	
}
} 


@media (min-width: 320px) and (max-width: 999px) {

 .button1{
position:absolute;
   top:185%;
	right:50%;
	
    transform: translate(50%,50%); 
	
}


}





	

.Weliel_Games1{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/Back%20city.jpg);
height:100vh;
    background-size:cover;
    background-position:center;
}






@media (min-width: 1000px) {
	.Infoweliel{	
	position:absolute;
   top:215%;
	right:50%;
	
    transform: translate(50%,50%);
	}	
	
.Infoweliel h2{
	color:white;
	font-size: 25px;
	font-family: 'Comfortaa', cursive;
}
.Infoweliel a{
	color:white;
	font-size: 25px;
	font-family: 'Comfortaa', cursive;
}
  
} 




@media (min-width: 320px) and (max-width: 999px) {
.Infoweliel{	
	position:absolute;
   top:225%;
	right:50%;
	
    transform: translate(50%,50%);
	}	
 .Infoweliel h2{
	color:white;
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
}
.Infoweliel a{
	color:white;
	font-size:20px;
	font-family: 'Comfortaa', cursive;
}
	

}











@media (min-width: 1000px) {
.map{
	position:absolute;
   top:230%;
	right:50%;
	
    transform: translate(50%,50%);
	
}
	
} 




@media (min-width: 320px) and (max-width: 999px) {
.map{
     display:none;
}


	
	

.map1{
	  display:none;

	
}

}


