.top{
    padding:30px;
  text-align: center;
    background:#949494;
    color: white;
  font-size: 30px; 
}
.body1{ 
  text-align: center;

}
.dtop{
    padding:30px;
    font-size: 15px; 
  text-align: center;  
    
    
}   
    
.xyu{
    
   width:750px; 
    height:400px  
 
}